.detail {
    padding: 0.2em;
}

.description {
    white-space: pre-wrap;
}

.thumbnail {
    float: left;
    width: 48px;
    height: 48px;
    margin-right: 1em;
    border-radius: 50px; /* 이미지 반크기만큼 반경을 잡기*/
}

.channelTitle {
    font-size: 1em;
}
.description {
    white-space: pre-wrap;
}
