.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 90px;
    margin-left: 2.5em;
}

.title {
    display: flex;
    align-items: center;
}

.titleName {
}

.logo {
    color: red;
}

.header-title {
}

.input {
    width: 50%;
    padding: 12px 20px;
    margin-left: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.button {
    width: 65px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    cursor: pointer;
}
