.container {
    width: 50%;
    padding: 0.2em;
}

.video {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid lightgray;
    cursor: pointer;
}

.video:hover {
    transform: scale(1.02);
}

.thumbnail {
    width: 40%;
    height: 100%;
}

.matadata {
    margin-left: 0.2em;
}
