* {
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 50px;
}

.header-logo {
    display: flex;
    align-items: center;
}

.card {
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
